<app-navbar></app-navbar>

<div style="padding: 40px">
  <h2>Why Daily Coding ?</h2>
  <hr>
  <p>
      Daily Coding Problem contains a wide variety of questions inspired by real programming interviews that clearly take you through each core concept. 
  </p>

  <ol>
      <li>Arrays</li>
      <li>      Strings</li>
      <li>      Linked Lists</li>
      <li>      Trees</li>
      <li>      Hash Tables</li>
      <li>      Binary Search Trees</li>
      <li>      Tries</li>
      <li>      Heaps</li>
      <li>      Stacks and Queues</li>
      <li>      Graphs</li>
      <li>      Randomized Algorithms</li>
      <li>      Dynamic Programming</li>
      <li>      Backtracking</li>
      <li>      Bit Manipulation</li>
      <li>      Pathfinding</li>
      <li>      Recursion</li>
      <li>      Data Structure Design</li>
      <li>      System Design</li>
    </ol>

</div>

<div style="padding: 20px;">
  <h2 style="padding-left: 20px;">Question Of The Day</h2>
  <hr>
  <app-ques-of-day></app-ques-of-day>
</div>

