<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple lighten-1" [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand" href="#">ᑕOᗪEᕼᑌᗷ</a></mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/dashboard">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/daily-question">Daily Question</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/add-question">Add Question</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item avatar dropdown" dropdown *ngIf="authService.userData as user">
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              <img width="30" src="{{ user.photoURL }}" alt="" class="img-fluid rounded-circle z-depth-0"></a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">My Accounts</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="authService.SignOut(user)">Log out</a>
            </div>
          </li>
      </ul>
    </links>
   
  </mdb-navbar>
