
  <div style="padding:20px">
    <mat-card>
  <mat-tab-group>
    <mat-tab label="Question">
      <div style="padding: 40px;height: 200px;">
      {{title}}: <br> {{question}}
      </div>
    </mat-tab>
    <mat-tab label="Input">
        <div style="padding: 40px;height: 200px;">
      {{solution}}
    </div>
    </mat-tab>
    <mat-tab label="Output">
        <div style="padding: 40px;height: 200px;">
      {{date}}
    </div>
    </mat-tab>
    <mat-tab label="Constraint">
        <div style="padding: 40px;height: 200px;"> 
         {{language}} 
        </div>
    </mat-tab>
    <mat-tab label="Example">
        <div style="padding: 40px;height: 200px;">
      {{sno}}
    </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
  </div>

  <div style="padding: 20px">
    <mat-card>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 " matSort style="width: 100%">
      <ng-container matColumnDef="serial">
          <th mat-header-cell *matHeaderCellDef style="padding: 20px" mat-sort-header> S.NO. </th>
          <td mat-cell *matCellDef="let item; let j = index"> 
              {{ (j+1) + (myPaginator.pageIndex * myPaginator.pageSize) }}
          </td>
        </ng-container>
  
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef style="padding: 20px" mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let element" style="padding: 20px;cursor: pointer;" data-toggle="modal" data-target="#basicExample" (click)="getdata(element.title); frame.show();" > {{element.title}} </td>
      </ng-container>
      <ng-container matColumnDef="question">
        <th mat-header-cell *matHeaderCellDef style="padding: 20px" mat-sort-header> Question </th>
          <td mat-cell *matCellDef="let element" style="padding: 20px">
            <p>{{element.question}}</p> 
            </td>
      </ng-container>
      <ng-container matColumnDef="language">
        <th mat-header-cell *matHeaderCellDef style="padding: 20px" mat-sort-header> Language </th>
        <td mat-cell *matCellDef="let element" style="padding: 20px"> {{element.language}} </td>
      </ng-container>
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef style="padding: 20px" mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element" style="padding: 20px"> {{element.created}} </td>
      </ng-container> 
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
    </table>
    <mat-paginator #myPaginator [pageSizeOptions]="[3]" showFirstLastButtons></mat-paginator>
  </mat-card>
  </div>
  
  <!-- <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"
  mdbWavesEffect>Launch Modal</button> -->
  
  <div mdbModal #frame="mdbModal" style="overflow: auto" class="modal fade top " id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info modal-lg " role="document" >
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Modal Info</p>
  
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
  
      <!--Body-->
      <div class="modal-body">
        <div class="text-center" >
          <h1>{{ title }}</h1>
  
            <h2>Problem</h2>
  
            <p>{{question}}</p>
  
            <h2>Solution</h2>
  
            <p>{{solution}}</p>
  
            <div class="row" style="padding-left:13%;">
              <div class="col-md-5" style="margin: 5px; padding: 20px; width: auto; height: auto; border: 1px black; border-style: solid;"> Language : {{ language }}</div>
              <div class="col-md-5" style="margin: 5px; padding: 20px; width: auto; height: auto; border: 1px black; border-style: solid;"> Date : {{ date }}</div>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>
    
  
  


  
